.navbar {
    width: 90%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20px;
    text-decoration: none; 
    color: #FFF8DC;
}

.link {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #FFF8DC;
    transition: all ease-in-out 0.3s;
}

.link:hover {
    color: #F5DEB3;
}

.navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button {
    margin: auto 0.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.navbar-user {
    font-size: 1rem;
    margin: auto 3.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}





